doctype html
html(lang='en')
  head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // Bootstrap CSS
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC', crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/style.css')
    // Page title
    title About Us
    body
        // Insert navbar from partial folder
        include ../views/partials/header
        // Main Content [START]
        .container-fluid.mainCont.px-0.py-0
        .headerPadd
        // Header Image Section [START]
        .headerImage.aboutHead
            h2.aboutHeadText.text-center Why Rock Bottom?
        // Header Image Section [END]
        // About Section [START]
        .row.justify-content-center
            .col-md-10.mt-3.ps-4.pe-4
                h5.aboutSubHeader About Us
                p
                    | At Rock Bottom Gear &amp; Co., we believe that spending time in nature is one of the best things you can do for your mental health. That&apos;s why we offer a wide variety of high-quality outdoor clothing and gear to help you get out there and enjoy the great outdoors.
                h5.aboutSubHeader The Benefits of Outdoor Activity
                p
                    | There are many reasons why spending time in nature is good for your mental health. Here are just a few:
                ul
                    li Reduces stress and anxiety
                    li Improves mood
                    li Boosts self-esteem
                    li Increases focus and concentration
                    li Helps you sleep better
                    li Reduces pain
                    li Boosts your immune system
                    li Increases your sense of well-being
                h5.aboutSubHeader Our Products
                p
                    | We offer a wide variety of outdoor clothing and gear to help you get out there and enjoy the great outdoors. Whether you&apos;re hiking, camping, fishing, or just taking a walk around the block, we have the gear you need to stay comfortable and safe.
                h5.aboutSubHeader Our Commitment to Quality
                p
                    | We believe that quality is essential when it comes to outdoor clothing and gear. That&apos;s why we only offer products that are made from the highest quality materials and construction. We also offer a satisfaction guarantee on all of our products, so you can be sure that you&apos;re making a wise investment.
                h5.aboutSubHeader Charities and Organizations that Help with Mental Health
                p
                    | We believe that everyone deserves access to quality mental health care. That&apos;s why we support a number of charities and organizations that are working to make mental health care more accessible and affordable in the UK. Here are a few of the organizations that we support:
                ul
                    li
                        a.aboutLink(href='https://www.mind.org.uk/')
                        strong Mind
                        |  is the UK&apos;s leading mental health charity. They provide support and information to people with mental health problems and their families and friends.
                    li
                        a.aboutLink(href='https://www.rethink.org/')
                        strong Rethink Mental Illness
                        |  is a charity that works to improve the lives of people with mental illness and their families. They provide information, support, and campaigning on mental health issues.
                    li
                        a.aboutLink(href='https://www.samaritans.org/')
                        strong The Samaritans
                        |  is a charity that provides emotional support to people in distress, 24 hours a day, 365 days a year.
                    li
                        a.aboutLink(href='https://www.youngminds.org.uk/')
                        strong YoungMinds
                        |  is a charity that works to improve the mental health of children and young people. They provide information, support, and campaigning on mental health issues.
                h5.aboutSubHeader Shop Now
                p
                    | Visit our website today to shop our selection of outdoor clothing and gear. We&apos;re confident that you&apos;ll find everything you need to get out there and enjoy the great outdoors.
                p.mt-2 Thank you for choosing Rock Bottom Gear &amp; Co.
            // About Section [END]
        // Main Content [END]
    // Insert footer from partial folder  
    include ../views/partials/footer
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js', integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM', crossorigin='anonymous')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  // jQuery and Bootstrap Bundle
  // js