doctype html
html(lang='en')
  head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // Bootstrap CSS
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC', crossorigin='anonymous')

    link(rel='stylesheet', href='/stylesheets/style.css')
    // Page title
    title Home Page
  body
    
    // Insert navbar from partial folder
    include ../views/partials/header
    // Main Content [START]
    .container-fluid.mainCont.px-0.py-0
      .headerPadd
      // Header Image Section [START]
      .headerImage.homeHead
        .row.headRow
          .col-md-4.text-center
            h1.headerText.text-center Check out our latest items
            a.btn.mt-3.headShopBtn.whiteBtn(href='shop/_/_/_') 
                h5 Shop
          .col-md-4
          .col-md-4.text-center.align-self-end.homeHeaderThirdCol
            h1.homeHeaderText.text-center Why Rock Bottom?
            a.btn.mt-3.mb-2.headAboutBtn.whiteBtn(href='about') 
                h5 See our connection to mental health here
      // Header Image Section [END]
      // Actvities Options Section [START]
      .row.activityRow.justify-content-center
        h1.text-center.mt-4.mb-4 Activities
        // Main Section - Activities Options
        .col-md-3.activityCol.align-items-center.ps-4.pe-4
          .activityImg.activitySkiing.text-center
            h2.activityText Skiing
            a(href="/shop/1/1/_")
              button.btn.whiteBtn.activityBtn  
                  h4 Clothing
            a(href="/shop/1/2/_")
              button.btn.whiteBtn.activityBtn  
                  h4 Equipment
        .col-md-3.activityCol.align-items-center.ps-4.pe-4
          .activityImg.activityClimbing.text-center
            h2.activityText Climbing
            a(href="/shop/2/1/_")
              button.btn.whiteBtn.activityBtn  
                  h4 Clothing
            a(href="/shop/2/2/_")
              button.btn.whiteBtn.activityBtn  
                  h4 Equipment
        .col-md-3.activityCol.align-items-center.ps-4.pe-4
          .activityImg.activityHiking.text-center
            h2.activityText Hiking
            a(href="/shop/3/1/_")
              button.btn.whiteBtn.activityBtn  
                  h4 Clothing
            a(href="/shop/3/2/_")
              button.btn.whiteBtn.activityBtn  
                  h4 Equipment
        .col-md-3.activityCol.align-items-center.ps-4.pe-4
          .activityImg.activityCamping.text-center
            h2.activityText Camping
            a(href="/shop/4/1/_")
              button.btn.whiteBtn.activityBtn 
                  h4 Clothing
            a(href="/shop/4/2/_")
              button.btn.whiteBtn.activityBtn 
                  h4 Equipment
      // Actvities Options Section [END]
      // Newsletter Section [START]
      .row.mt-5.newsletterRow.justify-content-center
        .col-md-6.newsletterCol
          h5.newsletterText Join our newsletter!
          p.newsletterText.mt-3 Be the first to get updates about sales, new arrivals, and much more!
        .col-md-6.newsletterCol
          .form-outline.d-flex.justify-content-center
            input.form-control.text-center.newsletterInput(type='text', placeholder='Please enter your email')
          button.btn.btn-lg.redBtn.subBtn.mt-4 Subscribe
      // Newsletter Section [END]
      // Popular Products Carousel Section [START]
      .row.activityRow.justify-content-center
        h1.text-center.mt-4.mb-4 Popular
        .container.text-center.my-3
          .row.mx-auto.my-auto.justify-content-center
            #recipeCarousel.carousel.slide(data-bs-ride='carousel')
              .carousel-inner(role='listbox')
                //Add popular items, make only first one active
                each row, key in products_list
                    if key === 0
                        .carousel-item.active
                            .col-md-3.carouselCol
                                .card
                                form(id="form"+ row.product_id method="get" action="/product/"+ row.product_id) 
                                    .card-img
                                        a(onclick="document.getElementById('form"+ row.product_id+"').submit()" href="#")
                                            img.img-fluid(src='/images/product_images/'+ row.product_id+'.jpg')
                                    //- .card-img-overlay
                                    //-     svg.bi.bi-heart(xmlns='http://www.w3.org/2000/svg', width='30', height='30', fill='currentColor', viewBox='0 0 16 16')
                                    //-     path(d='m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z')
                                    a.navLink(onclick="document.getElementById('form"+ row.product_id+"').submit()" href="#")
                                        h6.mt-1 #{row.product_name}
                                    p &pound;#{row.price}
                                    form(method="get" action="")
                                        button.btn.btn-sm.redBtn.prodBasketBtn Add to basket
                    else 
                        .carousel-item
                            .col-md-3.carouselCol
                                .card
                                form(id="form"+ row.product_id method="get" action="/product/"+ row.product_id) 
                                    .card-img
                                        a(onclick="document.getElementById('form"+ row.product_id+"').submit()" href="#")
                                            img.img-fluid(src='/images/product_images/'+ row.product_id+'.jpg')
                                    //- .card-img-overlay
                                    //-     svg.bi.bi-heart(xmlns='http://www.w3.org/2000/svg', width='30', height='30', fill='currentColor', viewBox='0 0 16 16')
                                    //-     path(d='m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z')
                                    a.navLink(onclick="document.getElementById('form"+ row.product_id+"').submit()" href="#")
                                        h6.mt-1 #{row.product_name}
                                    p &pound;#{row.price}
                                    form(method="get" action="")
                                        button.btn.btn-sm.redBtn.prodBasketBtn Add to basket
                
              a.carousel-control-prev.bg-transparent.w-aut(href='#recipeCarousel', role='button', data-bs-slide='prev')
                span.carousel-control-prev-icon(aria-hidden='true')
              a.carousel-control-next.bg-transparent.w-aut(href='#recipeCarousel', role='button', data-bs-slide='next')
                span.carousel-control-next-icon(aria-hidden='true')
        // Popular Products Carousel Section [END]
        // Main Content [END]

    // Insert footer from partial folder  
    include ../views/partials/footer
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js', integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM', crossorigin='anonymous')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')

    // JavaScript - to make page interactive
    script.
      

        let items = document.querySelectorAll('.carousel .carousel-item')

        items.forEach((el) => {
            const minPerSlide = 4
            let next = el.nextElementSibling
            for (var i=1; i<minPerSlide; i++) {
                if (!next) {
                    // wrap carousel by using first child
                    next = items[0]
                }
                let cloneChild = next.cloneNode(true)
                el.appendChild(cloneChild.children[0])
                next = next.nextElementSibling
            }
        })

  body
  // jQuery and Bootstrap Bundle
  // js